:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header,
main,
footer {
  width: clamp(300px, 100vw, 2600px);
  margin: 0 auto;
}

header {
  background-color: #1f2937;
  padding: min(0.8rem, 100px, 2vh) min(1.6rem, 450px, 5vw);
}

.nav-main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
  /* padding: 8px 16px; */
  padding: 0.8rem 1.6rem;
}

.links {
  display: flex;
  gap: 1.3rem;
  margin-right: 2vw;
}

/* removing dumb things */

a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 8px 16px;
  color: #fff;
}

a:hover {
  border-radius: 8px;
  color: #3882f6;
  background-color: #fff;
}

li {
  list-style: none;
}

/* Hero section */

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
}

.hero-container {
  width: 100%;
  margin: min(80px, 4vh) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  gap: 32px;
  flex-wrap: wrap;
}

.left-hero {
  flex: 1 1 400px;
  height: auto;
  padding: 64px;
}

.right-hero {
  flex: 1 1 300px;
  padding: 64px;
  border-radius: 15px;
  height: auto;
}

.left-hero h1 {
  font-size: 52px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 16px;
}

.left-hero h2 {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 12px;
}

.btn {
  padding: 16px 32px;
  background-color: #3882f6;
  color: #f9faf8;
  margin: 16px 24px;
  font-size: 24px;
  border-radius: 12px;
}

.btn:hover {
  background-color: #1462df;
}

/* carding section */

.carding-section {
  max-width: 1800px;
  margin: 80px auto;
  padding: 64px 40px;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 32px;
  flex-wrap: wrap;
}

.card {
  max-width: 330px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  align-items: center;
}

.card h4 {
  font-size: 30px;
  margin-bottom: 12px auto 0;
}

.card p {
  font-size: 20px;
  font-weight: 300;
  padding: 8px;
}

.card img {
  width: 300px;
  height: auto;
  margin-bottom: 24px;
}

.carding-section h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  padding: 12px 24px;
}

/* qoutes */

.qoutes-section {
  display: flex;
  justify-content: space-between;
  background-color: #e5e7eb;
  padding: 64px 0;
}

.qoutes-container {
  max-width: 1800px;
  margin: 80px auto;
  padding: 16px 40px;
  display: flex;
  flex-direction: column;
}

blockquote {
  padding: 32px;
  font-size: 28px;
}

.qout-name {
  display: inline-block;
  align-self: flex-end;
  padding: 16px 32px;
  margin: 0 64px;
  font-size: 30px;
}

/*  sign-up  */

.sign-up {
  max-width: 1800px;
  margin: 80px auto;
  padding: 32px 40px;
  background-color: #3882f6;
  color: #f9faf8;
}

.contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  flex-wrap: wrap;
}

.sign-up-btn {
  flex: 0 0 auto;
}

.sign-up-p {
  flex: 1 0 450px;
}

.sign-up h2 {
  font-size: 44px;
  font-weight: 900;
  padding: 0 32px 8px;
}

.sign-up-btn {
  color: #3882f6;
  background-color: #e5e7eb;
}

.sign-up-btn:hover {
  background-color: #d7d7d7;
}
/* Footer */

footer {
  background-color: #1f2937;
  color: #f9faf8;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Copywrite {
  max-width: 1800px;
  padding: 8px 16px;
  font-size: 24px;
}
